RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !\.(jpg|png|css|js|txt|eot|ttf)$

RewriteRule ^(.*)?(.*) index.php?url=$1&$2 [QSA,L]
RewriteRule ^(.*).coffee index.php?url=$1.coffee [QSA,L]